1. Flow: send new user of a message.json
{"id":"87c32922-1c7e-45bb-94d5-369bd7da5a39","brandColor":"#8C3900","connectionReferences":{"shared_teams_1":{"connection":{"id":"/ml_sharedteams_c6c4a"}},"shared_office365_1":{"connection":{"id":"/ml_sharedoffice365_a551d"}},"shared_office365users_1":{"connection":{"id":"/ml_sharedoffice365users_6862c"}}},"connectorDisplayName":"Control","icon":"data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KIDxwYXRoIGQ9Im0wIDBoMzJ2MzJoLTMyeiIgZmlsbD0iIzhDMzkwMCIvPg0KIDxwYXRoIGQ9Im04IDEwaDE2djEyaC0xNnptMTUgMTF2LTEwaC0xNHYxMHptLTItOHY2aC0xMHYtNnptLTEgNXYtNGgtOHY0eiIgZmlsbD0iI2ZmZiIvPg0KPC9zdmc+DQo=","isTrigger":false,"operationName":"WelcomeMail_and_start_childflow_ask_for_preferences","operationDefinition":{"type":"Scope","actions":{"Get_user_profile_(V2)":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365users_1","operationId":"UserProfile_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users"},"parameters":{"id":"@triggerOutputs()?['body/id']"},"authentication":"@parameters('$authentication')"},"runAfter":{},"metadata":{"operationMetadataId":"25b541f4-179f-4c2b-b935-25136d9668f6"}},"Send_an_email_(V2)":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('Get_user_profile_(V2)')?['body/mail']","emailMessage/Subject":"Welcome to the PowerPlatform Community","emailMessage/Body":"<p>Hello @{outputs('Get_user_profile_(V2)')?['body/givenName']}<br>\n<br>\nWelcome to the PowerPlatform Community.<br>\n<br>\nThis group (community) is intended to promote the exchange of information on Microsoft PowerPlatform within our company. The goal is to exchange information and help each other. True to the motto: Sharing is caring.<br>\n<br>\nGreetings and have fun</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"},"runAfter":{"Get_user_profile_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"45d0587f-a0e0-4bca-8f8b-55ec9ec9c457"}},"Run_a_Child_Flow_-_2._Flow_-_Ask_for_preferences":{"type":"Workflow","inputs":{"host":{"workflowReferenceName":"fb97d20c-743e-ed11-9db0-000d3ab3f3a3"},"body":{"text":"@outputs('Get_user_profile_(V2)')?['body/userPrincipalName']"}},"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"45502297-3164-4c87-89e2-603880c1aac7"}}},"runAfter":{}}}
