2. flow: Ask for user preferences.json
{"id":"9dc7d138-32eb-4428-92c5-a4e81b24f1a5","brandColor":"#8C3900","connectionReferences":{"shared_office365groups":{"connection":{"id":"/ml_sharedoffice365groups_ee339"}},"shared_teams":{"connection":{"id":"/ml_sharedteams_c6c4a"}},"shared_office365users":{"connection":{"id":"/ml_sharedoffice365users_6862c"}}},"connectorDisplayName":"Control","icon":"data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KIDxwYXRoIGQ9Im0wIDBoMzJ2MzJoLTMyeiIgZmlsbD0iIzhDMzkwMCIvPg0KIDxwYXRoIGQ9Im04IDEwaDE2djEyaC0xNnptMTUgMTF2LTEwaC0xNHYxMHptLTItOHY2aC0xMHYtNnptLTEgNXYtNGgtOHY0eiIgZmlsbD0iI2ZmZiIvPg0KPC9zdmc+DQo=","isTrigger":false,"operationName":"Send_Adaptive_Card_-_Add_/_Remove_Tags_/_Remove_from_Teams","operationDefinition":{"type":"Scope","actions":{"List_all_tags_for_a_team":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"GetTags","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"groupId":"@outputs('TeamsID')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{"Get_user_profile_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"8da7a75c-4062-44a8-98ef-cc033b4007e8"}},"Select_-_All_Tags":{"type":"Select","inputs":{"from":"@outputs('List_all_tags_for_a_team')?['body/value']","select":{"type":"Input.Toggle","id":"@item()?['displayName']","title":"@item()?['displayName']"}},"runAfter":{"List_all_tags_for_a_team":["Succeeded"]},"metadata":{"operationMetadataId":"6c05fa48-fa0a-46a5-8994-79be731ff07b"}},"AdaptiveCard":{"type":"Compose","inputs":{"$schema":"http://adaptivecards.io/schemas/adaptive-card.json","type":"AdaptiveCard","version":"1.4","body":[{"type":"ColumnSet","columns":[{"type":"Column","width":2,"items":[{"type":"TextBlock","text":"PowerPlatform Community","weight":"Bolder","size":"Large","style":"heading","isSubtle":false},{"type":"TextBlock","text":"Hello @{outputs('Get_user_profile_(V2)')?['body/givenName']}","isSubtle":true,"wrap":true},{"type":"TextBlock","text":"Good to have you with us in the PowerPlatform community. We would like to know more about you and rank you according to your preferences. Please choose from the topics below.","isSubtle":true,"wrap":true,"size":"Small"},{"type":"Input.Toggle","title":"Please remove me from the community TEAMS","id":"TeamsRemove","spacing":"Medium"},{"type":"Container","$data":"${properties}","items":"@body('Select_-_All_Tags')","style":"emphasis"}]}]}],"actions":[{"type":"Action.Submit","title":"Submit"}]},"runAfter":{"Select_-_All_Tags":["Succeeded"]},"metadata":{"operationMetadataId":"81ae5778-1e5a-409f-858f-1a2961367fc7"}},"PostCardAndWait":{"type":"Scope","actions":{"PostAndWait":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_teams","operationId":"PostCardAndWaitForResponse","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/body/messageBody":"@outputs('AdaptiveCard')","body/body/updateMessage":"Thanks for your response!","body/body/recipient/to":"@{outputs('Get_user_profile_(V2)')?['body/mail']};"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{},"metadata":{"operationMetadataId":"24d11131-103a-4332-bd1d-90d4dc66d9fc"}}},"runAfter":{"AdaptiveCard":["Succeeded"]},"metadata":{"operationMetadataId":"b04d38e6-2c79-497d-93b9-fb188e0f3d06"}},"Parse_JSON":{"type":"ParseJson","inputs":{"content":"@body('PostAndWait')","schema":{"type":"object","properties":{"responseTime":{"type":"string"},"responder":{"type":"object","properties":{"objectId":{"type":"string"},"tenantId":{"type":"string"},"email":{"type":"string"},"userPrincipalName":{"type":"string"},"displayName":{"type":"string"}}},"submitActionId":{"type":"string"},"messageId":{"type":"string"},"messageLink":{"type":"string"},"data":{"type":"object","properties":{"PowerApps":{"type":"string"},"PowerBi":{"type":"string"},"PowerAutomate":{"type":"string"},"Governance":{"type":"string"},"DevOps":{"type":"string"},"PowerPages":{"type":"string"},"PowerVirtualAgents":{"type":"string"}}}}}},"runAfter":{"PostCardAndWait":["Succeeded"]},"metadata":{"operationMetadataId":"6a2b2202-268e-4096-912d-2b97fcd4d5d9"}},"TeamsID":{"type":"Compose","inputs":"GUID","runAfter":{}},"Get_user_profile_(V2)":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365users","operationId":"UserProfile_V2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users"},"parameters":{"id":"@triggerBody()['text']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{"TeamsID":["Succeeded"]},"metadata":{"operationMetadataId":"3e270179-ddee-4835-8322-c495f8818050"}},"Response":{"type":"Scope","actions":{"Compose_2":{"type":"Compose","inputs":"@body('Parse_JSON')?['data']","runAfter":{},"metadata":{"operationMetadataId":"b7927860-b25d-471f-a2ca-8c633c7312c4"}},"Select_2":{"type":"Select","inputs":{"from":"@split(string(body('Parse_JSON')?['data']), ',')","select":{"Name":"@replace(string(first(split(item(),':'))),'\\\"','')","Value":"@replace(string(last(split(item(),':'))),'\\\"','')"}},"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"8d17eaed-5f01-4eaf-bb6b-38a6f2396272"}},"Filter_array":{"type":"Query","inputs":{"from":"@body('Select_2')","where":"@contains(item()?['Value'], string('True'))"},"runAfter":{"Select_2":["Succeeded"]},"metadata":{"operationMetadataId":"3cbd2dc0-2842-4929-aae0-450936c5f670"}},"Join":{"type":"Join","inputs":{"from":"@body('Filter_array')","joinWith":"||"},"runAfter":{"Filter_array":["Succeeded"]},"metadata":{"operationMetadataId":"cec2378d-75b5-4687-a7d6-81f113dcd0a3"}},"Condition":{"type":"If","expression":{"and":[{"equals":["@length(body('Filter_array'))",1]},{"contains":["@body('Join')","TeamsRemove"]}]},"actions":{"Remove_member_from_group":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365groups","operationId":"RemoveMemberFromGroup","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365groups"},"parameters":{"groupId":"@outputs('TeamsID')","userUpn":"@outputs('Get_user_profile_(V2)')?['body/userPrincipalName']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{},"metadata":{"operationMetadataId":"804842a2-63f7-4bb8-8cd3-c352fdc7d64b"}},"Terminate":{"metadata":{"operationMetadataId":"87b7adb4-b225-419f-91cd-ed6b75f40e11"},"type":"Terminate","inputs":{"runStatus":"Succeeded"},"runAfter":{"Remove_member_from_group":["Succeeded"]}}},"runAfter":{"Join":["Succeeded"]},"else":{"actions":{"Filter_array_2":{"type":"Query","inputs":{"from":"@outputs('List_all_tags_for_a_team')?['body/value']","where":"@contains(body('Join'), item()?['displayName'])"},"runAfter":{},"metadata":{"operationMetadataId":"e66cbfeb-01a6-4e5b-8bc7-44817ea322de"}}}},"metadata":{"operationMetadataId":"a6230292-6ac1-4106-9bed-dcb63c4db8e1"}}},"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"6a8c7031-c4a4-4cf5-9cad-0a321f0b5e1a"}},"Apply_to_each":{"type":"Foreach","foreach":"@outputs('List_all_tags_for_a_team')?['body/value']","actions":{"List_the_members_for_a_tag":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"GetTagMembers","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"groupId":"@outputs('TeamsID')","tagId":"@items('Apply_to_each')?['id']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{},"metadata":{"operationMetadataId":"dcde03d8-8b41-4cf7-b66f-3f9139380f5a"}},"Filter_array_3":{"type":"Query","inputs":{"from":"@outputs('List_the_members_for_a_tag')?['body/value']","where":"@equals(item()?['userId'], outputs('Get_user_profile_(V2)')?['body/id'])"},"runAfter":{"List_the_members_for_a_tag":["Succeeded"]},"metadata":{"operationMetadataId":"9e87c62a-faca-4c0b-9ac0-342409ae63a1"}},"Apply_to_each_2":{"type":"Foreach","foreach":"@body('Filter_array_3')","actions":{"Delete_a_member_from_a_tag":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"DeleteTagMember","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"groupId":"@outputs('TeamsID')","tagId":"@items('Apply_to_each')?['id']","tagMemberId":"@items('Apply_to_each_2')?['id']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{},"metadata":{"operationMetadataId":"4039662c-db48-45c2-a9ff-109e242b3457"}}},"runAfter":{"Filter_array_3":["Succeeded"]},"metadata":{"operationMetadataId":"3a8b87d3-f354-40df-afce-0519e4544dd9"}}},"runAfter":{"Response":["Succeeded"]},"metadata":{"operationMetadataId":"1375d483-4e58-4340-80cf-32b346e47c3a"}},"Apply_to_each_3":{"type":"Foreach","foreach":"@body('Filter_array_2')","actions":{"Add_a_member_to_a_tag":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"AddMemberToTag","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"groupId":"@outputs('TeamsID')","tagId":"@items('Apply_to_each_3')?['id']","body/userId":"@outputs('Get_user_profile_(V2)')?['body/id']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}},"runAfter":{},"metadata":{"operationMetadataId":"d84ad6ab-7e24-4a6b-a394-731fe67a4729"}}},"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"38444970-2515-40ce-98de-727c01b20de0"}}},"runAfter":{}}}
