3. flow: Send mail to all groupmembers.json
{"id":"6a098d11-f614-4c3a-a71a-89d0c34fceb3","brandColor":"#8C3900","connectionReferences":{"shared_teams_1":{"connection":{"id":"/ml_sharedteams_c6c4a"}},"shared_office365groups_1":{"connection":{"id":"/ml_sharedoffice365groups_ee339"}}},"connectorDisplayName":"Control","icon":"data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KIDxwYXRoIGQ9Im0wIDBoMzJ2MzJoLTMyeiIgZmlsbD0iIzhDMzkwMCIvPg0KIDxwYXRoIGQ9Im04IDEwaDE2djEyaC0xNnptMTUgMTF2LTEwaC0xNHYxMHptLTItOHY2aC0xMHYtNnptLTEgNXYtNGgtOHY0eiIgZmlsbD0iI2ZmZiIvPg0KPC9zdmc+DQo=","isTrigger":false,"operationName":"Send_Mail_to_all_Groupmembers","operationDefinition":{"type":"Scope","actions":{"GroupID":{"type":"Compose","inputs":"GroupID","runAfter":{}},"List_group_members":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365groups_1","operationId":"ListGroupMembers","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365groups"},"parameters":{"groupId":"@outputs('GroupID')","$top":999},"authentication":"@parameters('$authentication')"},"runAfter":{"GroupID":["Succeeded"]},"metadata":{"operationMetadataId":"d0a3ff93-9695-4c85-97f5-12161e864053"}},"Get_all_Tags_-_Users":{"type":"Scope","actions":{"List_all_tags_for_a_team":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams_1","operationId":"GetTags","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"groupId":"@outputs('GroupID')"},"authentication":"@parameters('$authentication')"},"runAfter":{},"metadata":{"operationMetadataId":"ecde00ce-32b2-4ae7-9f9f-63f8c9cc2004"}},"Apply_to_each_2":{"type":"Foreach","foreach":"@outputs('List_all_tags_for_a_team')?['body/value']","actions":{"List_the_members_for_a_tag":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams_1","operationId":"GetTagMembers","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"groupId":"@outputs('GroupID')","tagId":"@items('Apply_to_each_2')?['id']"},"authentication":"@parameters('$authentication')"},"runAfter":{},"metadata":{"operationMetadataId":"920d732c-cfcc-4c47-9276-4ab6a70132e1"}},"Select":{"type":"Select","inputs":{"from":"@outputs('List_the_members_for_a_tag')?['body/value']","select":"@item()?['displayName']"},"runAfter":{"List_the_members_for_a_tag":["Succeeded"]},"metadata":{"operationMetadataId":"2272316e-bf40-4c5e-a71b-094dfae9092f"}},"Append_to_string_variable":{"type":"AppendToStringVariable","inputs":{"name":"varUsers","value":"@body('Join')"},"runAfter":{"Join":["Succeeded"]},"metadata":{"operationMetadataId":"a1a181ca-fd85-4826-8e88-5fda0eda96d7"}},"Join":{"type":"Join","inputs":{"from":"@body('Select')","joinWith":";"},"runAfter":{"Select":["Succeeded"]},"metadata":{"operationMetadataId":"3b0c397a-3442-45af-b848-5869b0cf93d5"}}},"runAfter":{"List_all_tags_for_a_team":["Succeeded"]},"runtimeConfiguration":{"concurrency":{"repetitions":20}},"metadata":{"operationMetadataId":"bb3581d7-8918-4811-8210-9a1b8bcb64d7"}}},"runAfter":{"List_group_members":["Succeeded"]},"metadata":{"operationMetadataId":"6794caa1-151e-4483-85ab-6a95cd87e387"}},"Message_to_all_Members_with_no_tags":{"type":"Scope","actions":{"Filter_array":{"type":"Query","inputs":{"from":"@outputs('List_group_members')?['body/value']","where":"@not(contains(variables('varUsers'), item()?['displayName']))"},"runAfter":{},"metadata":{"operationMetadataId":"5d7331ae-def4-4cf9-847e-79af8d1da410"}},"Apply_to_each_3":{"type":"Foreach","foreach":"@body('Filter_array')","actions":{"Run_a_Child_Flow_-_ask_for_user_preferences":{"type":"Workflow","inputs":{"host":{"workflowReferenceName":"fb97d20c-743e-ed11-9db0-000d3ab3f3a3"},"body":{"text":"@items('Apply_to_each_3')?['userPrincipalName']"}},"runAfter":{},"metadata":{"operationMetadataId":"77b40c6d-aff6-4d78-adf0-7024b86b4341"}}},"runAfter":{"Filter_array":["Succeeded"]},"runtimeConfiguration":{"concurrency":{"repetitions":30}},"metadata":{"operationMetadataId":"b9a1a734-a67c-4da1-a558-7fa2c7a9e600"}}},"runAfter":{"Get_all_Tags_-_Users":["Succeeded"]},"metadata":{"operationMetadataId":"df2c6c6e-4d21-4579-9724-4d7027be05c5"}},"quarterly_updates":{"type":"If","expression":{"equals":["@contains(\r\nstring(\r\ndiv(float(utcNow('MM')),3)),\r\n'.0')","@true"]},"actions":{"message_to_all_members_with_tag":{"type":"Scope","actions":{"Filter_array_2":{"type":"Query","inputs":{"from":"@outputs('List_group_members')?['body/value']","where":"@contains(variables('varUsers'), item()?['displayName'])"},"runAfter":{},"metadata":{"operationMetadataId":"5d7331ae-def4-4cf9-847e-79af8d1da410"}},"Apply_to_each":{"type":"Foreach","foreach":"@body('Filter_array_2')","actions":{"Run_a_Child_Flow_-_ask_for_preferences_with_tags":{"type":"Workflow","inputs":{"host":{"workflowReferenceName":"fb97d20c-743e-ed11-9db0-000d3ab3f3a3"},"body":{"text":"@items('Apply_to_each')?['userPrincipalName']"}},"runAfter":{},"metadata":{"operationMetadataId":"77b40c6d-aff6-4d78-adf0-7024b86b4341"}}},"runAfter":{"Filter_array_2":["Succeeded"]},"runtimeConfiguration":{"concurrency":{"repetitions":30}},"metadata":{"operationMetadataId":"b9a1a734-a67c-4da1-a558-7fa2c7a9e600"}}},"runAfter":{},"metadata":{"operationMetadataId":"df2c6c6e-4d21-4579-9724-4d7027be05c5"}}},"runAfter":{"Get_all_Tags_-_Users":["Succeeded"]},"metadata":{"operationMetadataId":"0114b745-1404-4ab8-90c5-9a6287310c7c"}}},"runAfter":{"Initialize_variable_-_varUsers":["Succeeded"]}}}
